<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <div class="wrapper-posts">
            <%- include('./partials/menu.ejs') %>
                <h1>Все посты:</h1>
                <ul class="posts-list">

                    <% if (posts.length) { %>
                        <% posts.forEach(({id, text, title, date, author, likes, dislikes, comments})=> {%>
                            <li>

                                <article>
                                    <h2 class="posts-list-title">
                                        <a href="/posts/<%= id %>">
                                            <%= title %>
                                        </a>
                                    </h2>
                                    <p class="posts-list-text">
                                        <%= text %>
                                    </p>
                                    <div class="info">
                                        <span class="date">
                                            <%= date %>
                                        </span>
                                        <span class="author">
                                            <%= author %>
                                        </span>
                                    </div>
                                </article>

                            </li>
                            <% }) %>
                                <% } %>
                </ul>
        </div>
    </body>

</html>